@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;400;500;700&display=swap');

*{
    /* font-family: 'Noto Sans', sans-serif; */
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    scroll-behavior: smooth;
    overflow-x: hidden;
}


body{
    background-color: #0c0c0c;
}

header{
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    display: flex;
    opacity: 0;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 3vw 3vh 3vw;
    /* background-color: #141414; */
    z-index: 1001;
    background-image: linear-gradient(180deg, #0c0c0c, 80%, transparent);
}

    header .logo{
        position: relative;
        width: 40px;
        /* background-color: white; */
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        /* font-weight: 500;
        color: #EDEDED;
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: 0.6s; */
    }

    header .logo img{
        height: 100%;
        object-fit: cover;
        display: block;
    }

    header .headerLine{
        height: 1px;
        width: 100%;
        background-color: #939393;
        margin-left: 2%;
        margin-right: 2%;
    }


    header ul{
        position: relative;
        display: flex;
        list-style: none;
    }

    header ul li{
        position: relative;
        display: inline-block;
        width: 100px;
        text-align: center;
    }

    header ul li a{
        position: relative;
        display: block;
        color: #ededed;
        font-size: 16px;
        /* letter-spacing: 15px; */
        transition: 0.5s;
    }

    header ul li a:hover{
        color: #505050;
    }

        header .mobileMenu{
            /* display: none;
            width: 20px; */
            display: none;
            cursor: pointer;
        }

        .bar1, .bar2, .bar3{
            width: 25px;
            height: 3px;
            background-color: #ededed;
            margin: 0 0 6px 0;
            transition: 0.3s ease-in-out;
            border-radius: 2.5px;
        }

        .change .bar1{
            transform: translate(0,9px) rotate(-45deg);
            background-color: #ededed;
        }
        .change .bar2{
            opacity: 0;
        }
        .change .bar3{
            transform: translate(0,-9px) rotate(45deg);
            background-color: #ededed;
        }
        


        .mobileMenuOption{
            position: fixed;
            display: none;
            opacity: 0;
            transition: 0.3s ease-in-out;
            height: 100vh;
            width: 100vw;
            background-color: rgba(0,0,0,0.8);
            z-index: 1000;
        }
        .turnOn{
            display: block;
            opacity: 1;
        }


            .mobileMenuOption ul{
                position: relative;
                display: block;
                list-style: none;
                top: 20%;
                right: 5%;
            }
            .mobileMenuOption ul li{
                text-align: right;
            }
            .mobileMenuOption ul li a{
                position: relative;
                display: block;
                color: #ededed;
                font-size: 40px;
                /* letter-spacing: 15px; */
                transition: 0.5s;        
                margin-top: 10px;
            }

            .mobileMenuOption ul li a.smallMenu{
                color: #939393;
                font-size: 30px;
                margin-top: -2%;
            }

h1{
    color: #EDEDED;
}

br{
    display: block;
    margin-bottom: 50%;
}

.intro{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro video{
    height: 100vh;
    object-fit: cover;
    opacity: 1;
}

.intro img{
    width: 0%;
    opacity: 0;
}


.intro h1{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 70px;
    color:  #EDEDED;
    opacity: 0;
}

.section1{
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 1%;
    grid-template-areas:
    ". . . . . . . ."
    ". . . . . . . ."
    "line1 text1 text1 . image1 image1 image1  ."
    ". text1 text1 . image1 image1 image1  ."
    ". text1 text1 . image1 image1 image1  ."
    ". . . . . . . ."
    ;
}


    .line1{
        grid-area: line1;
        display: flex;
        /* align-items: center; */
        /* justify-content: left; */

    }

        .line1 .horizontal-line1{
            height: 0%;
            width: 100%;
            background-color: #ededed;
            margin: 40% 0% 0% -100%;
        }

    .text1{
        grid-area: text1;
    }

        .text1 h1{
            color: #EDEDED;
            font-family: 'Jost', sans-serif;
            font-weight: bold;
            font-size: 4.7vw;
            /* font-size: 80px; */
            margin-bottom: -10px;
            opacity: 0;
        }

        p1{
            font-size: 20px;
            color: #EDEDED;
            opacity: 0;
            font-weight: 500;
            line-height: 0.5;
        }
        
        p2{
            font-size: 20px;
            color: #939393;
            opacity: 0;
            font-weight: 400;
            line-height: 0.5;
        }
        
        p3{
            font-size: 20px;
            color: #EDEDED;
            opacity: 0;
            font-weight: 500;
            line-height: 0.5;
        }
        
        p4{
            font-size: 20px;
            color: #939393;
            opacity: 0;
            font-weight: 400;
            line-height: 0.5;
        }

    .image1{
        grid-area: image1;
        overflow: hidden;
        justify-content: center;
        align-items: center;
    }

    .image1 img{
        display: block;
        margin: auto;
        height: 100%;
        /* object-fit: cover; */
    }

#selectedWork{
    scroll-margin-top: 16vh;
    width: 100vw;
    height: 16vh;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    gap: 1%;
    grid-template-areas:
    ". selectedTitle selectedLine selectedLine selectedLine selectedLine selectedLine selectedLine"
    ;

}


    .selectedTitle{
        grid-area: selectedTitle;
    }

    .selectedTitle h1{
        position: relative;
        top: 50%;
        transform: translate(0%, -50%);
        font-weight: 500;
        font-size: 2.5vw;
        opacity: 0;
        line-height: 1;
        overflow: hidden;
    }

    .selectedLine{
        grid-area: selectedLine;
        display: flex;
        align-items: center;
        overflow: hidden;
        /* justify-content: left; */

    }

        .selectedLine .selectedHorizontal-line{
            height: 3px;
            width: 100%;
            background-color: #ededed;
            margin: 0% 0% 0% -100%;
        }

.selected-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5%;
    opacity: 0;
    margin: 10% 12vw 0 12vw ;
    overflow: hidden;
}

.selected-container .box{
    overflow: hidden;
}

.selected-container .box .imageBox{
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

.selected-container .box .imageBox img{
    transition: 0.3s ease-in-out;
    width: 100%;
    height: 100%s;
    object-fit: cover;
    transform: scale(1.1);
}

.selected-container .box:hover img{
    transform: scale(1.2);
}

.selected-container .box .workTitle{
    overflow: hidden;
}

.selected-container .box .workTitle h1{
    margin-top: 5px;
    font-size: 20px;
    font-weight: 500;
    color: #EDEDED;
    transition: 0.5s ease-in-out;
    margin-left: 0%;
}

.selected-container .box .workTitle p{
    font-size: 15px;
    margin-bottom: 15px;
    margin-top: -5px;
    font-weight: 400;
    overflow: hidden;
    color: #939393;
    transition: 0.5s ease-in-out;
    margin-left: 0%;
}

.selected-container .box:hover .workTitle h1{
    margin-left: 5%;
}

.selected-container .box:hover .workTitle p{
    margin-left: 10%;
}



/* Dummy Section */
.dummy{
    height: 100vh;   
}

/* Media Control---------------------------------------------------------- */
@media (max-width: 700px){
    header{
        padding: 3vh 6vw 0px 6vw;
    }    

    header ul{
        display: none;
    }

    header .logo{
        width: 30px;
    }

    header .mobileMenu{
        display: block;
    }
    header .mobileMenu{
        display: inline-block;
    }
    /* .mobileMenuOption{
        display: block;
    } */

    .intro{
        padding: 0;
    }

    .intro h1{
        font-size: 40px;
        top: 80%;
    }
    .intro video{
        height: 0%;
        width: 0%;
        object-fit: none;
        opacity: 0;
    }
    
    .intro img{
        width: 80%;
        opacity: 1;
    }
    .section1{
        height: 100vh;
        /* background-color: #808080; */
        display: grid;
        margin-left: 2%;
        margin-right: 2%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 1%;
        grid-template-areas:
        ". ."
        ". . "
        "text1 text1"
        "text1 text1"
        ;
    }

    .sidebar2{
        display: none;
    }
    
    .sidebar3{
        display: none;
    }   
    
    .empty1{
        display: none;
    }
    .empty2{
        display: none;
    }
    .empty3{
        display: none;
    }
    
    .line1{
        display: none;
    }
        
    .text1 h1{
        font-size: 70px;
        margin-bottom: 0;
    }

    .text1 p1{
        font-size: 40px;
        line-height: 1;
    }

    .text1 p2{
        font-size: 40px;
        line-height: 1;
    }

    .text1 p3{
        font-size: 40px;
        line-height: 1;
    }

    .text1 p4{
        font-size: 40px;
        line-height: 1;
    }

    .image1{
        display: none;
    }

    /* SelectedWork Section */
    #selectedWork{
        height: 10vh;
        /* background-color: #808080; */
        display: grid;
        margin: 20% 5% 0 5% ;
        grid-template-columns: repeat(4, 1fr);
        gap: 1%;
        grid-template-areas:
        "selectedTitle selectedLine selectedLine selectedLine"
        ;
    }
        
    .selectedTitle h1{
        font-size: 20px;
    }

    .selected-container{
        grid-template-columns: repeat(1,1fr);
        margin-left: 5%;
        margin-right: 5%;
        gap: 1%;
    }
    .selected-container .box .workTitle h1{
        font-size: 16px;
    }
    .selected-container .box .workTitle p{
        font-size: 11px;
        margin-bottom: 15px;
    }

    
    
    

}